*{
    text-align:center;
    margin:auto;
    padding:auto;
}
.hidden{
    display: none;
    
    
    
}
body{
    margin:0;
    padding: 0;
}
table{
    background-color:rgb(101, 248, 101);
    color:rgb(5, 86, 116)
}
.container{
    background-color:rgb(5, 86, 116);
    border-radius: 10px;
   
}
.container p{
    font-family: verdana;
    font-weight:1000;
    font-size: 40px;
    color:rgb(101, 248, 101);
    
}
.rotatey{
    
    animation: rotate 5s infinite;
}
@keyframes rotate{
    0%{
        transform: rotatey(0deg);
    }
   
    100%{
        transform: rotatey(360deg);
    }
}
.box{width:50%;
    height:50%;
    
}
button{
    width:50px;
    height:50px;
    background-color:rgb(101, 248, 101) ;

}